body {
    background-color: #b2dfdb;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

img {
    height: auto;
    width: 70vw;
    object-fit: contain;
}
