{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>The Hut Restaurant</title>
</head>
<body>

    <!-- Navbar -->
    <nav>
        <div class="nav-wrapper teal darken-3">
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/">Home</a></li>
                <li><a href="/booking">Book a table</a></li>
            </ul>
        </div>
    </nav>
    
    <div class="row">
        <div class="s12 center-align" id="img_div">
            <img src="https://res.cloudinary.com/dgki7ze70/image/upload/v1699583490/pexels-elias-tigiser-14786070_odgaes.jpg"
                alt="Cabin in the woods">
        </div>
    </div>
    
    <main>
        {% block content %}
    <!-- Main content -->
        {% endblock content %}
    </main>

    <!-- Footer -->
    <footer class="page-footer teal darken-1">
        <div class="footer-copyright">
            <div class="container">
                © 2023 The Hut
            </div>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/static/js/script.js"></script>
</body>
</html>