{% extends "base.html" %}

{% block content %}


            <h3>HUT ADMIN SITE!</h3>


    <div class="row">
        <form class="col s12 m6" method="POST" action="booking">
            {% csrf_token %}
            <div class="row">
                <div class="input-field col s12 m6">
                    <input id="id_name" type="text" class="validate" name="booking_name">
                    <label for="id_name">Full Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m6">
                    <input id="id_email" type="email" class="validate" name="booking_email">
                    <label for="id_email">Email</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m6">
                    <input id="id_phone" type="tel" class="validate" name="booking_phone">
                    <label for="id_phone">Phone</label>
                </div>
            </div>
            
            <div class="row">
                <div class="input-field col s12 m6">
                    <select name="booking_num_guests">
                        <option value="" disabled selected>Number of seats</option>
                        <option value="2">2</option>
                        <option value="4">4</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m6">
                    <input type="text" class="datepicker validate" name="booking_date">
                    <label>Select date</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m6">
                    <select name="booking_time">
                        <option value="" disabled selected>Choose serving between 16:00, 18:00 and 20:00</option>
                        <option value="1">16:00</option>
                        <option value="2">18:00</option>
                        <option value="3">20:00</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m6 center-align">
                    <button type="submit" class="btn-large light-green darken-4">
                        Book table
                    </button>
                </div>
            </div>
        </form>
    </div>


{% endblock %}