{% extends "base.html" %}

{% block content %}

    
<div class="row">
    <div class="col s12 center-align">
        <h1>The Hut</h1>
    </div>
</div>
    
<div class="row">
    <div class="col s12 center-align">
        <p>
            <em>"Hut hut turn your back to the forest and turn your </em>
        </p>
        <p>
            <em>front to me so I can eat some delicious food!"</em>
        </p>
        <p>- Parahrase from Geralt of Rivia</p>
    </div>
</div>
<hr>

<div class="row">
    <div class="col s12 center-align">
        <p>
            This classically beautiful offers the best, most local and most 
            fresh food you could ever dream of. Mushrooms foraged, game shot 
            and hauled back and fish straight from the stream, all come 
            together to create one unforgettable tasting menu that is set 
            beforehand. Choose one of our sittings, 16:00, 18:00 or 20:00 when 
            you make your booking! 
        </p>
        <p>
            <strong>See you soon!</strong>
        </p>
    </div>
</div>

<div class="row">
    <div class="col s12 center-align">
        <h3><a href="/booking">Make a booking!</a></h3>
    </div>
</div>
    

{% endblock %}